<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/doctor-logo.jpg" type="image/png">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <title>Create Patient Account</title>
  <link rel="stylesheet" href="/create-account.css">
</head>
<body>
  <div class="container">
    <form action="/signup-patient" method="POST">
      <h1>E-DOCTOR PATIENT</h1>
      <div class="input-group"><input type="text" name="full_name" placeholder="Full Name" required></div>
      <div class="input-group"><input type="text" name="residence" placeholder="Place of Residence" required></div>
      <div class="input-group"><input type="number" name="age" placeholder="Age" required></div>
      <div class="input-group"><input type="text" name="role" placeholder="Role eg..Patient" required></div>
      <div class="input-group"><input type="email" name="email" placeholder="Email" required></div>
      <div class="input-group"><input type="tel" name="phone" placeholder="Phone Number" required></div>
      <div class="input-group"><input type="password" name="password" placeholder="Password" required></div>
      <button type="submit">Register with E-DOCTOR</button>
    </form>
  </div>
</body>
</html>
